<button class="btn js-toggle-dark-mode">🌙</button>

<script>
	// Check for saved theme preference or default to 'light'
	const currentTheme = localStorage.getItem('theme') || 'light';

	// Apply the saved theme on page load
	if (currentTheme === 'dark') {
		jtd.setTheme('dark');
		document.querySelector('.js-toggle-dark-mode').textContent = '☀️';
	}

	const toggleDarkMode = document.querySelector('.js-toggle-dark-mode');
	jtd.addEvent(toggleDarkMode, 'click', function () {
		if (jtd.getTheme() === 'dark') {
			jtd.setTheme('light');
			toggleDarkMode.textContent = '🌙';
			localStorage.setItem('theme', 'light');
		} else {
			jtd.setTheme('dark');
			toggleDarkMode.textContent = '☀️';
			localStorage.setItem('theme', 'dark');
		}
	});
</script>