<div class="main-header" id="main-header">
	{% if site.search_enabled != false %}
	<div class="search" role="search">
		<div class="search-input-wrap">
			<input type="text" id="search-input" class="search-input" tabindex="0" placeholder="{% include search_placeholder_custom.html %}" aria-label="{% include search_placeholder_custom.html %}" autocomplete="off">
			<label for="search-input" class="search-label"><svg viewBox="0 0 24 24" class="search-icon">
					<use xlink:href="#svg-search"></use>
				</svg></label>
		</div>
		<div id="search-results" class="search-results"></div>
	</div>
	{% endif %}

	{% if site.aux_links %}
	<nav aria-label="Ytterligare navigering" class="aux-nav">
		<ul class="aux-nav-list">
			{% for link in site.aux_links %}
			<li class="aux-nav-list-item">
				{% if site.aux_links_new_tab %}
				<a href="{{ link.last }}" class="site-button" target="_blank" rel="noopener noreferrer">
					{{ link.first }}
				</a>
				{% else %}
				<a href="{{ link.last }}" class="site-button">
					{{ link.first }}
				</a>
				{% endif %}
			</li>
			{% endfor %}
		</ul>
	</nav>
	{% endif %}
	{% include header_custom.html %}
</div>