{% comment %}
Custom sidebar component that includes h3 headers based on nav_header front matter
{% endcomment %}

<div class="side-bar">
	<div class="site-header" role="banner">
		<!-- Mobile menu button -->
		<button type="button" id="menu-button" class="site-button btn-reset" aria-label="Toggle navigation" aria-pressed="false">
			<svg viewBox="0 0 24 24" class="menu-icon">
				<use xlink:href="#svg-menu"></use>
			</svg>
		</button>
		<a href="{{ '/' | relative_url }}" class="site-title lh-tight">{{ site.title }}</a>
	</div>
	<div class="site-nav" id="site-nav">
		{% include components/custom_nav.html %}
	</div>
	<!-- {% include nav_footer_custom.html %} -->
</div>